 /* mail list */
 .mail-list {
     border: none;
     border-collapse: collapse;
     border-radius: 13px;
     background-color: white;
     padding: 0.8em;
     
 }

 .mail-list td {
     border: none;
 }

 .mail-list tr {
     border-bottom: 1px solid lightgray;
     height: 3.125rem;

 }